.big-bg {
  background-image: url(../assets/img/bg-mobile.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  align-self: stretch;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  position: absolute;
}