.modal-history {

  background: rgba(0, 0, 0, 0.77);

  .popbox_container {
    background: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-close {
    background-image: url(../assets/img/btn-close-grey.svg);
    @include media-breakpoint-up(lg) {
      top: 70px;
      right: 70px;
      width: 32px;
      height: 32px;
    }
  }

  .scroller {
    top: 50px;
  }

  .scrolled {
    align-items: center;
    max-width: none;
  }

  .title {
    // height: 494px;
    font-family: $font-assistant;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
    
    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
      font-size: 30px;
      width: 878px;
    }
  }

  .text {
    // height: 494px;
    font-family: $font-assistant;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    
    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
      font-size: 24px;
      width: 878px;
    }
  }

  .video {
    width: 84vw;
    height: 47vw;
    @include media-breakpoint-up(lg) {
      width: 878px;
      height: 494px;
    }
  }

  a.link {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: $font-assistant;
    font-weight: 300;
    font-size: 16px;
    margin-top: 15px;
    
    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
      width: 878px;
      &:hover {
        text-decoration: none;
      }   
    }
  }
}